<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Get Started!|| Shopping list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/getstarted.css">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-responsive.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="logo">
        <img src="img/shoppingtree.png" alt="Mountain View" style="display: inline-block;margin-left: 40%;margin-top: 10px;">
    </div>
    <ul style="position: absolute;left: 20%; margin-top: 3px;">
        	<li><a href="index.html">Home</a></li>
			<li><a href="getstarted.html ">Get Started</a></li>
			<li><a href="dashboard.html ">Dashboard</a></li>
			<li><a href="login.html ">LogIn/SignUp</a></li>
	</ul>
		
	<div class="test " style="align-content: center;padding-top: 8%;padding-left: 30%;padding-right: 30%; ">

		<header>
			<h1>Lets get started!</h1>
		</header>

		<section>

			<article>
                <h2>What is Shopping list?</h2>
                <p class="lead ">Shopping list app allows you to create and track all of your favourite items ,so you can make more informed decitions when shopping!</p>
          
                <div style="height: 20%;">
                    <img src="img/newimage.png ">
                </div>
                </article>
                </section>
                </div>
                <div class="footer-bottom">
                    <span><a href="index.html"">Home </a>||© Brenda Bucha</span>
                    <div class="credits">Made in 2017</div>
                </div>
</body>

</html>