<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home|| Shopping list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-responsive.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container ">
        <div class="row">
            <div class="logo">
                <img src="img/shoppingtree.png" alt="Mountain View" style="display: inline-block;margin-left: 40%;margin-top: 10px;">
            </div>
        </div>
    </div>
    <!-- Main navigation here(toggle required for responsive design)-->
    <div class="row" style="height: 60px;">
        <div class="col-lg-12 col-md-8 col-xs-6">
            <ul style="position: absolute;left: 20%; margin-top: 3px;">
                <li><a href="index.html">Home</a></li>
                <li><a href="getstarted.html">Get Started</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="login.html">LogIn/SignUp</a></li>
            </ul>
        </div>
    </div>

    <!-- Background image here-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <img src="img/backgroundcover.png" alt="Mountain View" style="width: 100%;height: 450px;">
        </div>
    </div>
    <!-- Footer starts  here-->

    <div class="footer-bottom">
        <span><a href="index.html">Home </a>||© Brenda Bucha</span>
        <div class="credits">Made in 2017</div>
    </div>
</body>

</html>