<!DOCTYPE html>
<html>

<head>
    <title>Dashboard || Shopping List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/dashboard.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-responsive.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>

<body>
    <!--Start of nav bar-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background: #e74853;border-color: purple;margin-top: 2px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"> </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard" style="color: white;">Dashboard</a>
            </div>

            <!--start of nav collapse-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/" style="color: white;"><span class="glyphicon glyphicon-comment"></span> Home</a></li>
                     <li class=""><a href="#" style="color: white;"><span class="glyphicon glyphicon-comment"></span> Manage List</a></li>
                </ul>
                <div class="nav navbar-right" style="padding: 8px;">
                    <a href="index.html" class="btn btn-danger" role="button">Logout</a>
                </div>
            </div>
            <!--end of nav-collapse -->
        </div>
    </div>

    <!--app logo is here -->
    <div class="container" style="padding-top: 50px;">
        <div class="row" >
            <div class="logo">
                <img src="{{ url_for('static', filename = 'img/shoppingtree.png') }}" alt="ShoppingList" style="display: inline-block;margin-left: 40%;margin-top: 10px;">
            </div>
        </div>
    </div>
     <!--end of app logo is here -->

    <div class="container">
        <div class="page-header" style="padding: 20px;">
            <h3>Welcome to your Shopping 
           List Dashboard! <a href="/dashboard/savelistname" class="btn btn-md btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> Create List </a></h3>
        </div>
    </div>

     <!--saved shopping list in a table -->
    <div class="container">
        <div class="panel panel-default">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>List</th>
                        <th style ="padding-left: 10%;">Update Items</th>
                        <th style ="padding-left: 10%;">Update List</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5.7.2017</td>
                        <td>Fashion</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-xs" style="background-color: #a144f7;"><span class="glyphicon glyphicon-edit"></span> View Items</button>
                            <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Add Item</button>
                            <button type="button" class="btn btn-warning  btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Update Item</button>
                            <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete Item</button>
                           
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-xs" style="background-color: #4dd763;"><span class="glyphicon glyphicon-edit"></span> Rename List</button>
                            <button type="button" class="btn btn-primary btn-xs" style="background-color: #a144f7;"><span class="glyphicon glyphicon-edit"></span> View List</button>
                            <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete List</button>
                            <button type="button" class="btn btn-danger btn-xs" style="background-color: #00bcd4;"><span class="glyphicon glyphicon-remove-circle"></span> Share List</button>
                           
                           
                        </td>

                    </tr>
                    <tr>
                        <td>5.7.2017</td>
                        <td>Groceries</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-xs" style="background-color: #a144f7;"><span class="glyphicon glyphicon-edit"></span> View Items</button>
                            <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Add Item</button>
                            <button type="button" class="btn btn-warning  btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Update Item</button>
                            <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete Item</button>
                           
                        </td>
                         <td>
                            <button type="button" class="btn btn-warning btn-xs" style="background-color: #4dd763;"><span class="glyphicon glyphicon-edit"></span> Rename List</button>
                            <button type="button" class="btn btn-primary btn-xs" style="background-color: #a144f7;"><span class="glyphicon glyphicon-edit"></span> View List</button>
                            <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete List</button>
                            <button type="button" class="btn btn-danger btn-xs" style="background-color: #00bcd4;"><span class="glyphicon glyphicon-remove-circle"></span> Share List</button>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>5.7.2017</td>
                        <td>Electronics </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-xs" style="background-color: #a144f7;"><span class="glyphicon glyphicon-edit"></span>View Items</button>
                            <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span>Add Item</button>
                            <button type="button" class="btn btn-warning  btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Update List</button>
                            <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete Item</button>
                           
                        </td>
                         <td>
                            <button type="button" class="btn btn-warning btn-xs" style="background-color: #4dd763;"><span class="glyphicon glyphicon-edit"></span> Rename List</button>
                            <button type="button" class="btn btn-primary btn-xs" style="background-color: #a144f7;"><span class="glyphicon glyphicon-edit"></span> View List</button>
                            <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete List</button>
                            <button type="button" class="btn btn-danger btn-xs" style="background-color: #00bcd4;"><span class="glyphicon glyphicon-remove-circle"></span> Share List</button>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>5.7.2017</td>
                        <td>Books</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-xs" style="background-color: #a144f7;"><span class="glyphicon glyphicon-edit"></span> View Item</button>
                            <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Add Item</button>
                            <button type="button" class="btn btn-warning  btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Update List</button>
                            <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete Item</button>
                            
                        </td>
                         <td>
                            <button type="button" class="btn btn-warning btn-xs" style="background-color: #4dd763;"><span class="glyphicon glyphicon-edit"></span> Rename List</button>
                            <button type="button" class="btn btn-primary btn-xs" style="background-color: #a144f7;"><span class="glyphicon glyphicon-edit"></span> View List</button>
                            <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete List</button>
                            <button type="button" class="btn btn-danger btn-xs" style="background-color: #00bcd4;"><span class="glyphicon glyphicon-remove-circle"></span> Share List</button>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom" style="border-top: 1px solid #333333;padding: 40px 0;text-align: center;margin-top: 40px;height: 100px; margin-top: 40px;width: 50%;margin-left: 25%;">
          <span><a href="/">Home </a>||© Brenda Bucha</span>
            <div class="">Made in 2017</div>
    </div>
    </div>
    <!-- end of container -->
</body>

</html>