<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Log In || Shopping list</title>
    <link rel="stylesheet" href="static/login.css">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-responsive.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- logo starts here-->
    <div class ="container">
        <div class="logo">
            <img src="img/shoppingtree.png" alt="Mountain View" style="display: inline-block;margin-left: 42%;margin-top: 10px;">
        </div>
    </div>
    
    <!-- Background image here-->
    <div class="logcontainer">
        <div class="left">
            <img src="img/list.jpg" alt="Mountain View" style="width: 100%;height: 400px;">
        </div>
        <div class="right ">
            <div class="formBox">
                <form action="">
                    <p>Username</p>
                    <input type="text" name="" placeholder="Please enter Username">
                    <p>Password</p>
                    <input type="Password" name="" placeholder="*****">
                    <input type="submit" name="" value="Log in"><a href="#">Forgot Password?</a> <a href="/signup">Sign up here</a>
                </form>
            </div>
        </div>
    </div>
    
    <!--footer changes are done here-->
    <div class="footer-bottom">
        <span><a href="/">Home </a>||© Brenda Bucha</span>
        <div class="">Made in 2017</div>
    </div>
</body>

</html>
