<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SignUp || Shopping list</title>
    <link rel="stylesheet" href="assets/signup.css">
    <link rel="stylesheet" href="assets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-responsive.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="logo">
        <img src="img/shoppingtree.png" alt="Mountain View" style="display: inline-block;margin-left: 42%;margin-top: 10px;">
    </div>

    <div class="logcontainer">

        <div class="left">
            <img src="img/list.jpg" alt="Mountain View" style="width: 100%;height: 520px;">
        </div>

        <div class="right">
            <div class="formBox">
                <form action="">
                    <p>First Name</p>
                    <input type="text" name="" placeholder="Please enter first name">
                    <p>Last Name</p>
                    <input type="text" name="" placeholder="Please enter last name">
                    <p>Email address</p>
                    <input type="text" name="" placeholder="Please enter your email">
                    <p>Password</p>
                    <input type="Password" name="" placeholder="*****">
                    <input type="submit" name="" value="Sign Up"><a href="#">Forgot Password?</a>
                </form>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        	<span><a href="index.html">Home </a>||© Brenda Bucha</span>
        		<div class="credits">Made in 2017</div>
    </div>

</body>

</html>